<div class="req-info-container">
  <div class="mb-4 control dropdown">
    <div class="heading">Dropdown</div>
    <p-dropdown
      [options]="countries"
      [(ngModel)]="selectedCountryAdvanced"
      placeholder="Select a Country"
      [filter]="true"
      filterBy="value"
      [showClear]="true"
      optionLabel="label"
      [showClear]="true"
      styleClass="min-width"
    ></p-dropdown>
    <div class="mt-2" *ngIf="selectedCountryAdvanced">
      Your favourite country is :{{ selectedCountryAdvanced?.label }}
    </div>
  </div>
  <hr />
  <div class="mb-4 control autocomplete">
    <div class="heading">AutoComplete</div>
    <p-autoComplete
      [(ngModel)]="selectedCountryAdvanced"
      [suggestions]="countrySuggestions"
      (completeMethod)="filterCountry($event)"
      field="label"
      [dropdown]="true"
    >
      <ng-template let-country pTemplate="item">
        <div class="country-item">
          <div>{{ country?.label }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <hr />

  <div class="mb-4 control date-format">
    <div class="heading">Calender</div>
    <p-calendar
      [(ngModel)]="date1"
      dateFormat="dd/mm/yy"
      [showIcon]="true"
      [minDate]="minDate"
      [maxDate]="maxDate"
    ></p-calendar>
  </div>
  <hr />
  <div class="mb-4 control">
  </div>



  <div class="mb-4  cascadeSelect">
    <div class="heading">Cascade Select</div>
    <p-cascadeSelect placeholder="Select city" [(ngModel)]="selectedCity1" [options]="countries1" optionLabel="cname" optionGroupLabel="name" 
    [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}"></p-cascadeSelect>
  </div> <hr />
  <div class="mb-4 control"></div>
 
 
</div>
