<div class="apply">
  <div class="flex space-between align-items-center">
    <h1>Default</h1>
    <p-toggleButton
      (onChange)="handleChange($event)"
      [(ngModel)]="toggleFlag"
      [onLabel]="'Collapse All'"
      offLabel="Expand All"
      [onIcon]="'pi pi-times'"
      offIcon="pi pi-check"
    ></p-toggleButton>
  </div>

  <!-- <button (click)="onToggle()">{{toggleLabel}}</button> -->
  <p-accordion [multiple]="true" (onOpen)="firstTabExpanded($event)" >
    <p-accordionTab header="Header I" [selected]="toggleFlagFirst">
      <p>this is data for header 1</p>
    </p-accordionTab>
    <p-accordionTab header="Header II" [selected]="toggleFlag">
      <p>this is data for header 2</p>
    </p-accordionTab>
    <p-accordionTab header="Header III" [selected]="toggleFlag">
      <p>this is data for header 3</p>
    </p-accordionTab>
  </p-accordion>
  <div class="inputbutton">
    <h5>Input check</h5>
    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
  </div>

  <div class="inputarea">
    <h5>Input Text Area</h5>
    <input type="text" pInputText />
  </div>
</div>
